[user]
	name = maejimayuto
	email = maejimayuto@gmail.com
[core]
  attributesfile = /Users/yuto.maejima/.gitattributes_global
	excludesfile = /Users/maejimayuto/.gitignore_global
  quotepath    = false
  editor       = vim
	ignorecase = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
  clean    = git-lfs clean -- %f
  smudge   = git-lfs smudge -- %f
  process  = git-lfs filter-process
  required = true
[pager]
  log = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
  show = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
  diff = /opt/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
  # $ git diff
  # diff-highlight | less: diff-highlight: command not found
  # で怒られるので下記を実行する
  # Mac
  # sudo ln -s /usr/local/share/git-core/contrib/diff-highlight/diff-highlight /usr/local/bin/diff-highlight
  # Debian
  # https://qiita.com/mh_mobiler/items/c02cdb8eaca1b263b45c
  # cd /usr/share/doc/git/contrib/diff-highlight
  # sudo make
  # sudo ln -s /usr/share/doc/git/contrib/diff-highlight/diff-highlight /usr/local/bin/diff-highlight
[interactive]
  diffFilter = diff-highlight
[alias]
  a   = add
  aa  = add -A
  ap  = add -p
  ai  = add -i
  br  = branch
  brv = branch -vv
  co  = checkout
  cod = !git checkout develop && git pull
  # com = !git checkout master && git pull
  cl  = clean
  cm  = commit
  d   = diff
  ds  = diff --staged
  dif = diff --word-diff --ignore-space-change --ignore-blank-lines
  p   = pull
  lo  = log --oneline --graph --decorate --date="iso" --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  lop = log -p --oneline --graph --decorate --date="iso" --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  logp= log -p
  mgd = !git fetch && git merge origin/develop
  # mgm = !git fetch && git merge origin/master
  rs  = restore
  rmv = remote -v
  s   = status --short --branch
  st  = status
  ss  = stash
  sw  = switch
  swd = !git switch develop && git pull
  # swm = !git switch master && git pull
[color]
  ui = auto
[diff]
  compactionHeuristic = true
  renames = true
[pull]
	rebase = false
# For linux
# [user]
#   name  = maejimayuto
#   email = maejimayuto@gmail.com
# [core]
#   quotepath    = false
#   editor       = vim
# [pager]
#   log = diff-highlight | less
#   show = diff-highlight | less
#   diff = diff-highlight | less
# [interactive]
#   diffFilter = diff-highlight
# [alias]
#   a   = add
#   aa  = add -A
#   ap  = add -p
#   ai  = add -i
#   br  = branch
#   brv = branch -vv
#   cl  = clean
#   cm  = commit
#   co  = checkout
#   cod = !git checkout develop && git pull
#   com = !git checkout master && git pull
#   d   = diff
#   ds  = diff --staged
#   dif = diff --word-diff --ignore-space-change --ignore-blank-lines
#   p   = pull
#   lo  = log --oneline --graph --decorate --date="iso" --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
#   lop = log -p --oneline --graph --decorate --date="iso" --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
#   logp= log -p
#   rs  = restore
#   rmv = remote -v
#   s   = status --short --branch
#   st  = status
#   ss  = stash
#   sw  = switch
#   swd = !git switch develop && git pull
#   swm = !git switch master && git pull
# [color]
#   ui = auto
# [diff]
#   compactionHeuristic = true
#   renames = true
[init]
	defaultBranch = main
[commit]
	template = /Users/maejimayuto/.stCommitMsg
