[user]
  name  = maejimayuto
  email = maejimayuto@gmail.com
[core]
  attributesfile = /Users/yuto.maejima/.gitattributes_global
  excludesfile = /Users/yuto.maejima/.gitignore_global
  quotepath    = false
  editor       = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
  template = /Users/yuto.maejima/.stCommitMsg
[filter "lfs"]
  clean    = git-lfs clean -- %f
  smudge   = git-lfs smudge -- %f
  process  = git-lfs filter-process
  required = true
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[interactive]
  diffFilter = diff-highlight
[alias]
  a   = add
  aa  = add -A
  ap  = add -p
  br  = branch
  brv = branch -vv
  ck  = checkout
  co  = commit
  d   = diff
  dif = diff --word-diff --ignore-space-change --ignore-blank-lines
  p   = pull
  lo  = log --oneline --graph --decorate --branches --date="iso" --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  s   = status --short --branch
[credential]
  helper = cache
[url "github:"]
  InsteadOf = https://github.com/
  InsteadOf = git@github.com:
[color]
  ui = auto
[diff]
  compactionHeuristic = true
  renames = true
