Host *
    UseKeychain yes
    AddKeysToAgent yes

Host github github.com
    HostName github.com
    IdentityFile ~/.ssh/id_rsa
    TCPKeepAlive yes
    IdentitiesOnly yes
    User git

Host github.sciseed github.com.sciseed
    HostName github.com
    IdentityFile ~/.ssh/id_rsa_sciseed
    TCPKeepAlive yes
    IdentitiesOnly yes
    User git

Host gitlab
    user git
    hostname gitlab.com
    identityfile ~/.ssh/id_rsa.pub
    PreferredAuthentications publickey
