Host *
    UseKeychain yes
    AddKeysToAgent yes

Host github
    HostName github.com
    IdentityFile ~/.ssh/id_rsa
    TCPKeepAlive yes
    IdentitiesOnly yes
    User git

host gitlab
    user git
    hostname gitlab.com
    identityfile ~/.ssh/id_rsa.pub
    PreferredAuthentications publickey